* {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.title p {
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 20px;
	color: #f55f8d;
}

.title h2 {
	font-size: 70px;
	line-height: 1.1;
	font-weight: 800;
	color: #262626;
	margin-bottom: 20px;
}

/* ========================== */

.header {
	/* Cho header nam tren slider */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.header .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 120px;
}

.header .container .navbar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header .container .navbar .nav-item {
	margin-right: 30px;
}

.header .container .navbar .nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header .container .navbar .nav-item ul {
	display: flex;
	margin-right: 30px;
}

.header .container .navbar .nav-item ul li {
	list-style-type: none;
	padding: 50px 15px;
}

.header .container .navbar .nav-item ul li a {
	text-decoration: none;
	color: black;
	font-size: 15px;
}

.header .container .navbar .nav-item ul li i {
	font-size: 10px;
}

/* Hieu ung hover nav-item  */
.header .container .navbar .nav-item a span {
	display: inline-block;
}
.header .container .navbar .nav-item a:hover {
	color: #f55f8d;
}
.header .container .navbar .nav-item a:hover span {
	animation: upToDown 0.3s;
}

@keyframes upToDown {
	49% {
		transform: translateY(100%);
	}
	50% {
		opacity: 0;
		transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
/* END hieu ung ------- */

/* Hieu ung hover Button   */
.btn-gradient {
	padding: 20px 35px;
	border-radius: 30px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	display: inline-block;

	background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
	background-size: 200%;
	transition: 0.5s;
	box-shadow: 0 0 20px #eee;
}

.btn-gradient:hover {
	background-position: right center;
}
/* END hieu ung button  */

/* Slider -----------  */

.slider {
	padding-top: 180px;
	background-image: url("../images/pic2.png");
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat;
	overflow: hidden;

	position: relative;
}

.slider .main .container .row {
	display: flex;
	align-items: center;
}

.slider .container .left-slider {
	width: 60%;
}

.slider .container .left-slider {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.slider .container .left-slider .content p {
	width: 80%;
	font-size: 18px;
	margin-bottom: 15px;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

.slider .container .left-slider .content li {
	list-style-type: none;
	font-size: 20px;
	line-height: 20px;
	padding: 10px 5px 10px 0;
}

.slider .container .left-slider .content li i {
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 24px;
	color: white;
	border-radius: 35px;
	font-weight: 900;
	background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
	background-size: 200%;
	margin-right: 10px;
}

.slider .container .left-slider .content li i::before {
	content: "\f00c";
}

.slider .container .right-slider {
	width: 40%;
}

.slider .container .left-slider .content .get-start {
	margin-top: 30px;
	padding: 20px 35px;
	border: none;
	border-radius: 30px;
	color: white;
	background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
	display: inline-block;
	text-decoration: none;
}

/* Service -----------  */

.service {
	padding: 80px 0;
	background-image: url("../images/bg16.png");
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat;
}

.service .title {
	text-align: center;
	margin-bottom: 30px;
}

.service .main .row {
	display: flex;
	margin: 0 -15px;
}

.service .main .row .col {
	width: calc(100% / 3);
	padding: 0 15px;
	margin-bottom: 30px;
}

.service .main .item img {
	width: 200px;
}

.service .main .item {
	box-shadow: 8px 4px 8px 0 rgba(0, 0, 0, 0.1), -8px -6px 20px 0 rgba(0, 0, 0, 0.1);

	padding: 40px 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	transform: translateY(20px);
	transition: all 0.4s;

	background-color: white;
}

.service .main .item:hover {
	transform: translateY(0);
}

.service .main .item h1 {
	margin: 20px 0;
	text-align: center;
}

.service .main .item p {
	text-align: center;
	line-height: 1.6;
	color: #636363;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* number of lines to show */
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

/* About -------  */

.about {
	padding: 50px 0;
	background-image: url("../images/bg15.png");
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat;
}

.about .container .row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}

.about .container .row .item-left {
	width: 60%;
	position: absolute;
	left: -17%;
}

.about .container .row .item-right {
	width: 50%;
}

.about .container .row img {
	width: 100%;
	border-radius: 0 100px 100px 0;
}

.about .container .row .item-right ul {
	margin-bottom: 30px;
}

.about .container .row .item-right li {
	list-style-type: none;
	color: #636363;
	padding: 3px 0;
}

.about .container .row .item-right li i {
	font-size: 24px;
	color: #f55f8d;
	margin-right: 15px;
	vertical-align: middle;
}

/* Number  */
.number {
	padding: 80px 0;
	background-image: url("../images/bg14.png");
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
}

.number .container .row {
	display: flex;
}

.number .container .row .col {
	width: 25%;
}

.number .container .number-item i {
	font-size: 45px;
	background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
	background-size: 200%;
	color: #fff;
	width: 80px;
	height: 80px;
	line-height: 80px;
	display: inline-block;
	border-radius: 50%;
	margin-bottom: 15px;
}

.number .container .number-item p:first-of-type {
	font-size: 65px;
	font-weight: 800;
	color: #f55f8d;
	line-height: 1;
}

.number .container .number-item p:last-of-type {
	color: #262626;
	font-size: 18px;
}

/* Feature --------- */
.feature {
	padding: 100px 0;
	background-image: url("../images/bg2.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 0;
	overflow: hidden;
}

.feature .container .row {
	display: flex;
}

.feature .container .row .col {
	width: 50%;
}

.feature .feature-left .feature-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.feature .feature-item:nth-child(1) {
	padding: 0 50px 30px 0;
}

.feature .feature-item:nth-child(2) {
	padding: 0 0 30px 50px;
}

.feature .feature-item:nth-child(3) {
	padding: 0 50px 30px 0;
}

.feature .feature-item .feature-bg {
	box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
	padding: 30px;
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	align-items: center;
	border-radius: 10px;

	position: relative;
}

.feature .feature-item .feature-bg i {
	font-size: 80px;
	line-height: 1;
	color: #f55f8d;
	z-index: 10;
}

.feature .feature-item .feature-bg .content {
	padding-left: 25px;
	z-index: 10;
}

/* Hieu ung hover Feature-item  */

.feature .feature-item .feature-bg::before {
	content: "";
	background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
	background-size: 200%;
	position: absolute;
	border-radius: 10px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 1s;
}

.feature .feature-item .feature-bg:hover::before {
	opacity: 1;
}

.feature .feature-item .feature-bg:hover i,
.feature .feature-item .feature-bg:hover .content {
	color: white;
	transition: all 1s;
}

/* End hieu ung  */

.feature .container .feature-right img {
	width: 100%;
	animation: move2 5s infinite;
}

/* Portfolio ------------ */
.portfolio {
	padding: 50px 0;
}

.portfolio .title .container p,
.portfolio .title .container h2 {
	text-align: center;
}

.portfolio .main .container .row {
	display: grid;
	grid-template-columns: 2fr 2fr 3fr;
	gap: 30px;
}

.portfolio .main .item {
	border-radius: 15px;
	overflow: hidden;
	position: relative;
}

.portfolio .main .item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.portfolio .main .item:nth-child(1) {
	grid-column: 1 / span 2;
}

.portfolio .main .item:nth-child(5) {
	grid-column: 1 / span 2;
}

.portfolio .main .item:nth-child(6) {
	grid-column: 3/4;
	grid-row: 2/4;
}

.portfolio .main .item .info {
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	/* hover phan nen mau den nhat phu len  */
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.4);
	transition: all 0.75s;
}

.portfolio .main .item:hover .info {
	opacity: 1;
}

/* hieu ung hover tam guong  */
.portfolio .main .item::before {
	content: "";
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -100%;
	display: block;
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
	transform: skewX(-25deg);
	transition: all 0.75s;
}

.portfolio .main .item:hover::before {
	left: 125%;
}
/* end hieu ung  */

.portfolio .action {
	display: inline-block;
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 28px;
	text-align: center;
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
	background-size: 200%;
	border-radius: 10px;
}

.portfolio .action .add-icon i {
	color: white;
}

/* hieu ung icon Plus  */
.portfolio .action {
	transform: translate(20px, -20px);
	transition: all 1s;
}

.portfolio .item:hover .action {
	transform: translate(0, 0);
}
/* end hieu ung  */

.portfolio .info .detail {
	position: absolute;
	bottom: 30px;
	left: 30px;
	text-align: left;

	transform: translate(0, 30px);
	transition: all 0.8s;
}

.portfolio .info:hover .detail {
	transform: translate(0, 0);
}

.portfolio .info .detail h2 {
	font-size: 22px;
	font-weight: 800;
	color: #fff;
	margin-bottom: 5px;
}

.portfolio .info .detail p {
	color: #fff;
	opacity: 0.7;
}

/* Plan ------------  */
.plan {
	padding-top: 50px;
}

.plan .title .container {
	text-align: center;
}

.plan .main .container .row {
	display: flex;
	gap: 30px;
}

.plan .main .container .row .col {
	width: calc(100% / 3);
}

.plan .item img {
	width: 100%;
}

.plan .item {
	padding: 35px 60px;
	border: 3px solid transparent;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
	border-image: 100 round;
	text-align: center;

	transition: all 0.5s;
}

.plan .item:hover {
	border-image: url("../images/br.png") 1 round;
}

.plan .item h3 {
	font-weight: 700;
	color: #262626;
	font-size: 30px;
	text-align: center;
}

.plan .item img {
	width: 125px;
	display: block;
	margin: 10px auto;
}

.plan .item p {
	text-align: center;
	font-size: 18px;
	color: #262626;
	font-weight: 600;
}

.plan .item p span {
	color: #f8ae56;
	font-size: 50px;
	font-weight: 800;
}

.plan .item ul {
	padding: 15px 0;
	text-align: left;
}

.plan .item li {
	list-style: none;
	padding: 5px 0;
}

.plan .item i {
	font-size: 12px;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	background-color: rgba(254, 239, 243, 0.5);
	color: #f55f8d;
	border-radius: 50%;
	margin-right: 20px;
}

/* Feedback  */

.feedback {
	padding: 50px 0;
}

.feedback .title {
	text-align: center;
}

.testimonial-content {
	max-width: 1199px;
	margin: auto;
	text-align: center;
	padding: 100px 0;
}

.testimonial-thumbs .testimonial-pic img {
	width: 80px;
	height: 80px;
	border-radius: 100%;
	padding: 4px;
	position: relative;
	z-index: 2;
	background-color: pink;
}

.testimonial-thumbs {
	width: 300px;
	margin: auto;
	box-sizing: border-box;
	height: 170px;
	position: relative;
}
.testimonial-comment {
	min-height: 300px;
	width: 100%;
}
.testimonial-comment .swiper-wrapper {
	padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
	padding: 30px 0 0;
	transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
	padding: 0 0 40px;
}
.testimonial-text {
	padding: 30px;
	text-align: center;
	box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
	margin: 20px 100px;
	border-radius: 10px;
	background-color: #fff;
	max-width: 770px;
	margin-left: auto;
	margin-right: auto;

	position: relative;
}

.testimonial-text i {
	position: absolute;
	top: 10px;
	left: 30px;
	font-size: 70px;
	color: #f55f8d;
	transform: rotate(-180deg);
}

.testimonial-text h3 {
	font-size: 22px;
	font-weight: 800;
	color: #000;
	line-height: 26px;
	margin-bottom: 5px;
}

.testimonial-text .testimonial__position {
	color: #f55f8d;
}

.testimonial-text p {
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
	padding: 15px 15px 15px;
}

.testimonial-text p:last-child {
	color: #636363;
	line-height: 30px;
}

.swiper-pagination-bullet-active {
	background: #f55f8d;
}

/* Tao giot nuoc tren avatar */
.testimonial-pic::before {
	height: 15px;
	width: 15px;
	bottom: 30px;
}

.testimonial-pic::after {
	height: 10px;
	width: 10px;
	bottom: 0px;
}

.testimonial-pic::after,
.testimonial-pic::before {
	content: "";
	background-color: #f55f8d;
	border-radius: 50px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
}

/* .testimonial-pic .shape-bx {
	position: relative;
	height: 35px;
	width: 50px;
	left: 50%;
	transform: translateX(-50%);
	bottom: 18px;
	opacity: 0;
	transition: all 1s;
	background-color: #f55f8d;
}

.testimonial-pic .shape-bx::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: url("../images/pattern12.png");
	background-position: bottom;
	background-size: contain;
	height: 100%;
	width: 100%;
	transition: all 1s;
}

.swiper-slide-thumb-active .testimonial-pic .shape-bx {
	opacity: 1;
} */

/* Blog  */
.blog {
	background-image: url("../images/bg16.png");
	background-size: cover;
	background-position: top center;
	text-align: center;
	padding-bottom: 50px;
}

.blog .item {
	margin-right: 20px;
	border-radius: 10px;
	text-align: left;
	background: rgba(245, 95, 141, 0.1);
}

.blog .item .item-head {
	position: relative;
}

.blog .item .item-head img {
	width: 100%;
	height: 240px;
	object-fit: cover;
	display: block;
	border-radius: 10px;
}

.blog .item .item-head p {
	background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
	background-size: cover;
	border-radius: 6px;
	padding: 10px 20px;
	font-size: 14px;
	color: white;
	position: absolute;
	bottom: -20px;
	left: 15px;
}

.blog .item .item-body {
	padding: 30px 15px 20px 15px;
	line-height: 1.4;
	margin-bottom: 20px;
}

.blog .item .item-body h3 {
	font-size: 1.5rem;
	font-weight: 700;
	color: #262626;
}

.blog .item .item-body p {
	color: #636363;
	font-weight: 400;
}

.blog .item .item-footer {
	display: flex;
	align-items: center;
	padding: 15px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	color: #636363;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.blog .item .item-footer p:first-of-type {
	margin-right: 20px;
}

.blog .item .item-footer i {
	font-size: 22px;
	color: #f55f8d;
	vertical-align: sub;
}

.blog .item .item-footer p:first-of-type span {
	color: #f55f8d;
}

/* Footer -----  */
.footer {
	background-image: url("../images/bg4.png");
	display: block;
	height: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #0e1b1f;
	background-size: contain;
	color: #fff;
	font-size: 15px;
	position: relative;
}

.footer::before {
	content: "";
	background-image: url("../images/pattern2.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.footer .footer-top {
	padding: 50px 60px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
	background-image: url("../images/pattern3.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	display: flex;
}

.footer .footer-top .text {
	width: 50%;
}

.footer .footer-top .text h2 {
	font-size: 28px;
	color: #262626;
}

.footer .footer-top .form {
	width: 50%;
	display: flex;
	border-radius: 8px;
	box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.footer .footer-top .form form {
	width: 100%;
	display: flex;
	border-radius: 8px;
	box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.footer .footer-top .form input {
	padding: 20px 20px;
	font-size: 15px;
	font-weight: 400;
	color: #888;
	background: #fff;
	flex: 1 1 auto;
	border-radius: 0.5rem 0 0 0.5rem;
	border: 1px solid #fff;
	outline: 0;
	transition: all 0.5s;

	width: 80%;
}

.footer .footer-top .form button {
	padding: 20px 35px;
	font-size: 20px;
	background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
	background-size: 200%;
	border-color: transparent;
	transition: all 0.5s;
	border-radius: 0 0.5rem 0.5rem 0;
	color: #fff;
	cursor: pointer;

	width: 20%;
}

.footer .footer-top .form .icon i {
	font-size: 22px;
	color: white;
}

/* Hieu ung hover Plane  */

@keyframes leftToRight {
	49% {
		transform: translateX(100%);
	}
	50% {
		transform: translateX(-100%);
	}
	51% {
		opacity: 1;
	}
}

.footer .footer-top .form .icon:hover i {
	animation: leftToRight 0.5s;
}

.footer .footer-bottom {
	display: flex;
	padding: 70px 0;
	position: relative;
}

.footer .footer-bottom .footer-item {
	width: 25%;
}

.footer .footer-bottom .footer-item a {
	color: #636363;
	font-size: 16px;
	transition: all 0.5s;
}

.footer .footer-bottom .footer-item li {
	list-style-type: none;
	display: flex;
	align-items: center;
	margin: 25px 0;
}

.footer .footer-bottom .footer-item i {
	font-weight: 700;
	margin-right: 10px;
}

.footer .footer-bottom .footer-item .contact i {
	width: 40px;
	height: 40px;
	color: white;
	line-height: 40px;
	text-align: center;
	background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
	display: block;
	border-radius: 50%;
	font-size: 22px;
}

.footer .footer-bottom .footer-item h3 {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 10px;
	margin-bottom: 30px;
	position: relative;
	color: #fff;
}

.footer .footer-bottom .footer-item h3::before {
	width: 15px;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	border-radius: 20px;
	background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
	background-size: 200%;
}

.footer .footer-bottom .footer-item h3::after {
	width: 45px;
	content: "";
	position: absolute;
	bottom: 0;
	left: 20px;
	height: 4px;
	border-radius: 20px;
	background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
	background-size: 200%;
}

.footer .footer-bottom .footer-item.link-item li {
	color: #636363;
	font-size: 16px;
	transition: all 0.5s;
	list-style: none;
	cursor: pointer;
}

.footer .footer-bottom .footer-item.link-item li:hover {
	color: white;
}

.footer .footer-bottom .footer-item.link-item li:hover a {
	color: white;
}

.footer .footer-copyright {
	background-color: #1f343b;
	padding: 10px 0;
	position: relative;
}

.footer .footer-copyright .footer-content {
	display: flex;
	justify-content: space-between;
}

.footer .footer-copyright .footer-content .footer-left span {
	color: #f55f8d;
}

.footer .footer-copyright .footer-content .footer-right a {
	height: 32px;
	width: 32px;
	line-height: 32px;
	text-align: center;
	display: inline-block;
	border-radius: 50px;
	font-size: 14px;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.1);
	transition: all 0.5s;
}

.footer .footer-copyright .footer-content .footer-right a:hover {
	background: #f55f8d;
}

/* Back to top  */
.backToTop {
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: #f55f8d;
	border-radius: 10px;
	text-align: center;
	display: block;
	position: fixed;
	right: 15px;
	bottom: 15px;
	color: white;
	transition: all 0.4s;
	box-shadow: -4px 4px 24px -10px #f55f8d;

	/* ban đầu ẩn đi  */
	visibility: hidden;
	opacity: 0;
}

.cd-top--is-visible {
	/* hiện lại khi scroll chuột  */
	visibility: visible;
	opacity: 1;
}

/* Responsive Web  */

.header .navbar-toggle {
	display: none;
}
@media screen and (max-width: 576px) {
	.title h2 {
		font-size: 35px;
	}

	.header .container .navbar {
		display: none;
	}

	.header .navbar-toggle {
		display: block;
		background-color: transparent;
		border: none;
		color: #636363;
		font-size: 30px;
	}

	.slider .main .container .row {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.slider .main .container .row .left-slider {
		width: 100%;
	}

	.slider .main .container .row .right-slider {
		width: 100%;
	}

	.slider .main .container .row .right-slider img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.service .main .row {
		display: flex;
		flex-direction: column;
	}

	.service .main .row .col {
		width: 100%;
	}

	.about .container .row {
		flex-direction: column;
		justify-content: center;
	}

	.about .container .row .item-left {
		width: 100%;
		display: block;
		position: unset;
	}

	.about .container .row .item-right {
		width: 100%;
	}

	.number .container .row {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.number .container .row .col {
		width: 50%;
		margin-top: 10px;
	}

	.feature .container .row {
		flex-direction: column;
	}

	.feature .container .row .col {
		width: 100%;
	}

	.portfolio .main .container .row {
		display: unset;
	}

	.portfolio .main .container .row .item {
		height: 250px;
		margin-top: 20px;
	}

	.plan .main .container .row {
		flex-direction: column;
	}

	.plan .main .container .row .col {
		width: 100%;
	}

	.footer .footer-top {
		padding: 10px 10px;
	}

	.footer .footer-top .text h2 {
		font-size: 18px;
		line-height: 3.2;
	}

	.footer .footer-top .form input {
		padding: 10px 10px;
	}

	.footer .footer-bottom {
		flex-direction: column;
	}

	.footer .footer-bottom .footer-item {
		width: 100%;
	}

	.backToTop {
		display: none;
	}
}

/* Hieu ung animation  */
@keyframes move2 {
	0% {
		transform: rotate(1deg) translate(2px, 2px);
	}

	50% {
		transform: rotate(-1deg) translate(-2px, -2px);
	}

	100% {
		transform: rotate(1deg) translate(2px, 2px);
	}
}

@keyframes toLeftFromRight {
	49% {
		transform: translateX(100%);
	}

	50% {
		opacity: 0;
		transform: translateX(-100%);
	}

	51% {
		opacity: 1;
	}
}
